body {
    background-image: url(./assets/backgorund.png);
    width: 400px;
    height: 200px;
    background-repeat: no-repeat;
    background-color: black;
    margin-left: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

#insta {
    list-style-type: none;
    list-style-image: url(./assets/Insta.png);
}

#twitter {
    list-style-type: none;
    list-style-image: url(./assets/Twitter.png);
}

#youtube {
    list-style-type: none;
    list-style-image: url(./assets/Youtube.png);
}